<!DOCTYPE web-app PUBLIC  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GestTorneoCTL</servlet-name>
  	<display-name>GestTorneoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.GestTorneoCTL</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>RegistrationCTL</servlet-name>
  	<display-name>RegistrationCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.RegistrationCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCTL</servlet-name>
  	<display-name>LoginCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.LoginCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCTL</servlet-name>
  	<display-name>LogoutCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.LogoutCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminHomeCTL</servlet-name>
  	<display-name>AdminHomeCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.AdminHomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SorteggiCTL</servlet-name>
  	<display-name>SorteggiCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.SorteggiCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RisultatiQuartiCTL</servlet-name>
  	<display-name>RisultatiQuartiCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.RisultatiQuartiCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RisultatiSemifinaliCTL</servlet-name>
  	<display-name>RisultatiSemifinaliCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.RisultatiSemifinaliCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RisultatoFinaleCTL</servlet-name>
  	<display-name>RisultatoFinaleCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.RisultatoFinaleCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminNewTorneoCTL</servlet-name>
  	<display-name>AdminNewTorneoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.AdminNewTorneoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisualizzazioneTorneoCTL</servlet-name>
  	<display-name>VisualizzazioneTorneoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.VisualizzazioneTorneoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerHomeCTL</servlet-name>
  	<display-name>PlayerHomeCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.PlayerHomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerNewTorneoCTL</servlet-name>
  	<display-name>PlayerNewTorneoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.PlayerNewTorneoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GestioneEquipaggiamentoCTL</servlet-name>
  	<display-name>GestioneEquipaggiamentoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.GestioneEquipaggiamentoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GestioneNoleggioCTL</servlet-name>
  	<display-name>GestioneNoleggioCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.GestioneNoleggioCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisualizzaNoleggioCTL</servlet-name>
  	<display-name>VisualizzaNoleggioCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.VisualizzaNoleggioCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecensioniCTL</servlet-name>
  	<display-name>RecensioniCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.RecensioniCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaRecensioniCTL</servlet-name>
  	<display-name>ModificaRecensioniCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.ModificaRecensioniCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisualizzaEquipaggiamentoCTL</servlet-name>
  	<display-name>VisualizzaEquipaggiamentoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.VisualizzaEquipaggiamentoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaEquipaggiamentoCTL</servlet-name>
  	<display-name>ModificaEquipaggiamentoCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.ModificaEquipaggiamentoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCTL</servlet-name>
  	<display-name>SearchCTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.SearchCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search1CTL</servlet-name>
  	<display-name>Search1CTL</display-name>
  	<description></description>
  	<servlet-class>tenniswebapp.controller.Search1CTL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationCTL</servlet-name>
  	<url-pattern>/RegistrationCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCTL</servlet-name>
  	<url-pattern>/LoginCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCTL</servlet-name>
  	<url-pattern>/LogoutCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminHomeCTL</servlet-name>
  	<url-pattern>/AdminHomeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SorteggiCTL</servlet-name>
  	<url-pattern>/SorteggiCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RisultatiQuartiCTL</servlet-name>
  	<url-pattern>/RisultatiQuartiCTL</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>GestTorneoCTL</servlet-name>
  	<url-pattern>/GestTorneoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RisultatiSemifinaliCTL</servlet-name>
  	<url-pattern>/RisultatiSemifinaliCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RisultatoFinaleCTL</servlet-name>
  	<url-pattern>/RisultatoFinaleCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminNewTorneoCTL</servlet-name>
  	<url-pattern>/AdminNewTorneoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisualizzazioneTorneoCTL</servlet-name>
  	<url-pattern>/VisualizzazioneTorneoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerHomeCTL</servlet-name>
  	<url-pattern>/PlayerHomeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerNewTorneoCTL</servlet-name>
  	<url-pattern>/PlayerNewTorneoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GestioneEquipaggiamentoCTL</servlet-name>
  	<url-pattern>/GestioneEquipaggiamentoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GestioneNoleggioCTL</servlet-name>
  	<url-pattern>/GestioneNoleggioCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisualizzaNoleggioCTL</servlet-name>
  	<url-pattern>/VisualizzaNoleggioCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecensioniCTL</servlet-name>
  	<url-pattern>/RecensioniCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModificaRecensioniCTL</servlet-name>
  	<url-pattern>/ModificaRecensioniCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisualizzaEquipaggiamentoCTL</servlet-name>
  	<url-pattern>/VisualizzaEquipaggiamentoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModificaEquipaggiamentoCTL</servlet-name>
  	<url-pattern>/ModificaEquipaggiamentoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchCTL</servlet-name>
  	<url-pattern>/SearchCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search1CTL</servlet-name>
  	<url-pattern>/Search1CTL</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Registration.jsp</welcome-file>
</welcome-file-list>
  
</web-app>